html,
body,
#cover{
	height: 100%;

}

#cover{
	background:url('../images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.fixed-top{
	max-width: 1140px;
	margin: 20px auto;
	transition: 0.2s all linear;
}

h1{
	margin-top: 20%;
	color: #fff;
	font-size: 40px;
	font-style: italic;
	margin-bottom: 30px;

}

h2{

	font-family: 'Oswald', sans-serif;
	font-size: 75px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 25px;
}

.btn-primary{
	background-color: #fed136;
	border: none;
	font-size: 18px;
	font-weight: 700;
	padding: 20px 40px;

}

.btn-primary:hover{
	background-color: #fff;
	color: #fed136;
}

a.nav-link{
	color: #fff;
	font-size: 14px;
	font-style: bold;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;

}
a.nav-link:hover{
	color: #fed136;


}

a.navbar-brand{
	color: purple;
	font-weight: 700;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
}


a.navbar-brand:hover{
	color:#fff;

}

/* Section services */

#services{
	padding: 120px 0;

}

.services-top h3{
	
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.services-top p{
	font-style: italic;
	font-size: 16px;
	color: #777;
	margin-bottom: 70px;
}

.item-circle{
	border: 3px solid #fed136;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 200px;

}

.services-content i{
	color: #fed136;
	line-height: 100px;
}

.services-content h4{
	margin-top: 24px;
	font-size:18px;
	font-weight: 700;
	color: #222;

}

.services-content p{
	font-size: 14px;
	color: #777;
	font-family: 'Roboto Slab', serif;

}

#portfolio {
	background-color: #f7f7f7;
	padding-top: 120px;
	padding-bottom: 70px;
}

.portfolio-top h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.portfolio-top p{
	font-style: italic;
	font-size: 16px;
	color: #777;
	margin-bottom: 70px;
}

.card{
	border: none;

}

.portfolio-contant .row{
	margin-bottom: 50px;

}

.portfolio-contant .card-title{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.portfolio-contant .card-subtitle{
	font-size: 14px;
	font-style: italic;
}

#aboutus {
	padding-top: 120px;
	padding-bottom: 30px;
}

.aboutus-top h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.aboutus-top p{
	font-style: italic;
	font-size: 16px;
	color: #777;
	margin-bottom: 70px;
}


.aboutus-contant .row{
	margin-bottom: 50px;
}

.aboutus-contant h4{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.aboutus-contant p{
	
	font-size: 12px;
	color: #777777;
}

.aboutus-contant {
	position: relative;
}

.aboutus-contant:before{
	top:0;
	bottom: 0;
	position: absolute;
	content:" ";
	width: 4px;
	background-color: #f1f1f1;
	left: 50%;
	margin-left: -2PX;

}

.about-circle{
	position: relative;
	text-align: center;


}

.about-circle:before{
	top:0;
	bottom: 0;
	position: absolute;
	content: " ";
	width:165px;
	height: 165px;
	background-color: #fed136;
	border-radius: 170px;
	border: 8px solid #f1f1f1;
	left: 50%;
	margin-left: -85px;

}

.yellow-text {
	position: relative;
	z-index: 1;
	padding-top: 40px;


}

.about-circle .yellow-text{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}

#team {
	padding-top: 120px;
	background-color: #f9f9f9;
	padding-bottom: 70px;

}

.team-top h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 700;

}

.team-top p{
	font-style: italic;
	font-size: 16px;
	color: #777;



}

.team-circle {
	width: 220px;
	height: 220px;
	background-color: #000;
	border-radius:220px;
	margin: 0 auto;
	border: 6px solid #fff;
	margin-bottom: 20px;

}

.team-contant h4{
	
	font-size: 20px;
	font-weight: 700;
}

.team-contant h5{
	
	font-size: 14px;
	color: #777;
}

.social-icons{
	list-style-type: none;
	margin:0;
	padding: 0;
}

.social-icon{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

.social-icon .fab{
	border: 2px solid #000;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	line-height: 26px;
}

.team-contant p{
	margin:50px auto;
	font-size: 16px;
	color: #777;
	font-family: 'Roboto';
}

#partner{
	padding: 60px 0;
}

#contact {
	background:url('../images/bgc.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	padding: 120px 0;
}

.contact-top h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #fff;

}

.contact-top p{
	font-style: italic;
	font-size: 16px;
	color: #777;



}

#name, #subject, #email {

	width: 90%;
	height: 50px;
	margin-bottom: 26px;
	border-style: none;
	border-radius: 3px;
	padding-left: 20px;
	font-size: 14px;
	font-weight: 500;
	margin-left: 5%;
}




textarea{
	width: 90%;
	height: 205px;
	margin-bottom: 26px;
	border-style: none;
	border-radius: 3px;
	padding-left: 20px;
	padding-top: 12px;
	margin-left: 5%;
}

.golden-form-element{
	
	font-size: 14px;
	font-weight: 500;
}


#footer{
	padding: 21px 0;
}

#footer p{
	color: #555;
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
}

.company-social-icons{
	list-style-type: none;
	margin:0;
	padding: 0;
}

.company-social-icon{
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
}

.company-social-icon .fab{
	border: 2px solid #000;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	line-height: 35px;
	color: white;
	background-color: #000;
}

.fixed-top.change-fix-top {
	margin-top: 0;
	background-color: #000;
	max-width: 2000px; 
}

html {
	scroll-behavior: smooth;
}


@media (max-width: 991px) { 

	#footer p{

		font-size: 12px;
		font-weight: 500;
		line-height: 30px;
	}


	.company-social-icon{
		display: inline;
		padding-left: 5px;
		padding-right: 5px;
	}

	.company-social-icon .fab{
		border: 2px solid #000;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		line-height: 30px;
		color: white;
		background-color: #000;
	}


	h1{
		margin-top: 250px;
		font-size: 36px;
		font-style: italic;
		margin-bottom: 30px;

	}

	h2{

		font-size: 55px;
		font-weight: 700;
		margin-bottom: 25px;
	}


}

@media (max-width: 767px) {

	.navbar-collapse{
		background-color: rgb(0,0,0,0.3);
	}

	.navbar-toggler{
		border: 1px solid #fed136;
	}

	h1{
		margin-top: 250px;
		font-size: 30px;
		margin-bottom: 20px;

	}

	h2{

		font-size: 40px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.card{
		padding-left: 15%;
		padding-right: 15%;
	}

	.aboutus-contant:before{

		content:" ";
		width: 0;


	}

	.aboutus-contant .row img{
		width: 0;
		height: 0;
	}


	#aboutus {

		padding-bottom: 0;
	}

	.team-circle {
		width: 180px;
		height: 180px;
		background-color: #000;
		border-radius:180px;
		margin: 0 auto;
		border: 5px solid #fff;
		margin-bottom: 20px;


	}

	#partner .col-md-3 {

		margin: -10px 0;
	}

	#footer .col-md-4 {
		text-align: center;
	}

	.company-social-icons{
		margin-right: 25px;
	}
}




@media (max-width: 575px) { 

	h1{

		font-size: 24px;

	}

	h2{

		font-size: 30px;

	}


}


